body {
  background-color: #f8f8f8;
  font-family: serif;
}
pre {
  float: left;
  width: 45vw;
  margin-right: 2em;
}
code {
  font-family: serif;
  font-size: 1em;
  line-height: 1.8em;
}
h2 {
  clear: both;
  border-top: 1px solid gray;
  padding-top: .5em;
}
h3 {
  clear: both;
}
section > section > section > section {
  display: inline-block;
  vertical-align: top;
  width: 45vw;
}
